<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    
        <div id="example" class="k-content">
            <div id="grid"></div>
            <script>
                $(document).ready(function() {
                    $("#grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: "../../menus.json"
                            },
                            schema: {
                                model: {
                                    fields: {
                                        name: { type: "string" },
                                        url: { type: "string" },
                                        desc: { type: "string" },
                                        ancestry: { type: "string" }
                                    }
                                }
                            },
                            pageSize: 20,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        height: 430,
                        filterable: true,
                        sortable: true,
                        pageable: true,
                        columns: [{
                                field:"name",
                                filterable: false
                            },
                           
                            {
                                field: "name",
                                title: "Name",
                                width: 120
                            }, {
                                field: "url",
                                title: "url",
                                width: 260
                            }, {
                                field: "desc",
                                title: "Description",
                                width: 150
                            }
                        ]
                    });
                });
            </script>
        </div>


</body>
</html>